@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h3><a asp-controller="Product" asp-action="Index">Click Here for the Products!</a></h3>
</div>
